body {
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(0.25turn, #007bff, #3295ff);
  font-family: 'Open Sans', sans-serif;
}

li {
  margin-bottom: 6px;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline;
  font-size: 16px;
}

.streaming-div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: -3px 3px 3px #343a40;
  margin-bottom: 0.5em;
  background-color: #f8f9fa;
}

.streaming-container {
  margin-top: 2em;
  margin-bottom: 3em;
  padding-left: 8em;
  padding-right: 8em;
}

p {
  margin-bottom: 3em;
  text-align: center;
  color: #f8f9fa;
}

h1 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #f8f9fa;
  font-family: Merriweather;
}

.image-class {
  padding-left: 1em;
}

.white-link {
  color: #f8f9fa;
}

#netflix-ul {
  padding-left: 25px;
}
#hulu-trial-ul {
  padding-left: 25px;
}

.comercial-free-ul {
  list-style-type: none;
  text-align: center;
  display: inline;
  padding-right: 20px;
}

@media (max-width: 1150px) { 
  .streaming-container {
    padding-left: 6em;
    padding-right: 6em;
  }
}

@media (max-width: 1150px) {
  .streaming-container {
    padding-left: 4em;
    padding-right: 4em;
  }
  .image-class {
    padding-left: 1em;
  }
  #netflix-ul {
    padding-left: 1.5em;
  }
  #hulu-trial-ul {
    padding-left: 30px;
  }
}

@media (max-width: 860px) {
  .streaming-div {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    flex-flow: column;
    margin-left: 4em;
    margin-right: 4em;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
  }
  ul {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  p {
    margin-left: 5em;
    margin-right: 5em;
    text-align: center;
  }
  .image-li {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .image-class {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .streaming-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .comercial-free-ul {
    list-style-type: none;
    text-align: center;
    display: inline;
    padding-right: 0px;
  }
  h1 {
    border-right: 5px;
    border-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #netflix-ul {
    padding-left: 0px;
  }
  #hulu-trial-ul {
    padding-left: 0px;
  }
  html, body {
    overflow-x: hidden;
  }
  body {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .streaming-div {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    flex-flow: column;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
  }
}
